@charset "utf-8";
@font-face{
	font-family:NavFont;
	src:url("../font/retro.ttf");
}
@font-face{
	font-family:IconFont;
	src:url("../font/ionicons/ionicons.ttf");
}
.Icon{
	font-family:IconFont;
	text-decoration:none;
	text-align:center;
	color:#16FF00;
}
/* Body */
body{
	background-color:#000000;
	max-width:100%;
}
/* Aufbau Flex */
main{
	display:flex;
	justify-content:space-between;
	font-family:NavFont;
	color:#18c074;
}
#maincontent{
	padding:0.5rem;
	margin:0.5rem;
	background-color: #133518;
	border:solid 1px #18ff03;
}
#aside1{
	padding:0.5rem;
	margin:0.5rem;
	background-color: #133518;
	border:solid 1px #18ff03;

}
/* Div Leiste Rechts Figure */
div#figure {
	object-fit: cover;
	display:flex;
	
}
figure{
	padding:0.5rem;
	margin:0.5rem;
	background-color: #133518;
	border:solid 1px #18ff03;
	
}
figcaption{
	padding:0.2rem;
	margin-top:0.2rem;
	font-family:NavFont;
	background-color: #133518;
	border:solid 1px #18ff03;
	color:#18c074;	
	text-align:center;
}
/* Text Tabellen formatieren */
h1{
	font-size:1.5rem;
	
}
h2{
	font-size:1.25rem;
	
}
table{
	font-family:NavFont;
}
/* Schnellauswahl Menu links*/
div#sidemenu{
	border:solid 1px #16ff00;
}
.menubar {
	text-decoration:none ;
	color:#16ff00;
}
/* Einstellungen Logos Namen */
#logo{
	height:2rem;
	width:auto;
}
#nostal{
	height:2rem;
	width:auto;
	padding-left:2%;
}
#games{
	height:2rem;
	width:auto;
	padding-left:1rem;	
}
/* Einstellungen Ikons*/
a#menubar1{
	font-size:2rem;
	padding-left:2%;
}
a#menubar2{
	text-decoration:none;
	font-size:2rem;
	padding:1rem;
	color:#ff0000;
}
/* Header */
header#header{
	border-bottom:solid 3px #16ff00 ;
}
header#top{
	border-bottom:solid 2px #16FF00 ;
}

/* Unter dem 2 Head dort wo die spiele stehen */
#menu:target {
	display:flex
}
#menu{
	display:none;
	flex-wrap:wrap;
	justify-content:center;
	color:#16FF00;
	font-family:NavFont;
}

/* Einstellung style der Links */
#menu > a.spiel{
	text-decoration:none;
	font-size:2rem;
	padding:1rem;
}
a.startseite,
a.pacman,
a.pong, 
a.simcity{
	color:#16FF00;
}

#input{
	display:none;
}
menu 
a.startseite:hover,
a.pacman:hover,
a.pong:hover, 
a.simcity:hover
{
	color:#0cf3ff;
	font-weight:50;
}
	

/*Handy-Ansicht---------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:100px) and (max-width:630px){
	/* Head */
	main{
		display:flex;
		flex-direction:column;
		justify-content:center;
		flex-wrap:wrap;

		font-family:NavFont;
		color:#18c074;
	}
	img#Logo{
		
		width:auto;
		height:3rem;
		display:block;
		box-sizing:border-box;
		margin-left:0.5rem;
		
	}
	#Nostal{
		display:block;
		width:auto;
		height:2rem;
		margin-left:2%;
		padding:0.5rem 0 0.5rem 0;
	}
	#Games{
		display:block;
		width:auto;
		height:2rem;
		margin-left:2%;	
		padding:0.5rem 0 0.5rem 0;
	}
	/* Icon */
	#menubar1{
		margin-left:2%;	
		padding:1% 0 1% 0;
	}
	#menu > a.spiel{
		text-decoration:none;
		font-size:2rem;
		padding:1rem;
	}
	menu 
	a.startseite:hover,
	a.pacman:hover,
	a.pong:hover, 
	a.simcity:hover
	{
		color:#0cf3ff;
		font-weight:50;
	}
	p{
		font-family:NavFont;
		color:#c5c5c5;	
	}
	#aside2{
		display:none;
	}
	#fehlt{
		display:none;
	}
	#figure2{display:none;}
}	
